# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore VS Code settings
.vscode/

# Ignore Alembic migrations cache
alembic/

# Ignore any temp or backup files
*.bak
*.swp
